<div class="row">
    <h2>Gravja Settings</h2>
</div>
<!--Password Change-->
<div class="col-md-6 no-padding">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">User Password Change</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->

        <div class="box-body no-padding">
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">Password</label>

                <div class="col-sm-8">
                    <input type="password" class="form-control" ng-model="setCtrl.password" placeholder="...">
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword" class="col-sm-4 control-label">New Password</label>

                <div class="col-sm-8">
                    <input type="password" class="form-control" ng-model="setCtrl.newPassword" placeholder="...">
                </div>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="button" class="btn btn-default pull-right" ng-click="setCtrl.updateUserPassword()">Change</button>
        </div>
        <!-- /.box-footer -->

    </div>
</div>
<!--Exchange Api Key-Secret -->
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Exchange Api Key</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-condensed">
                    <tr>
                        <th style="width: 10px">#</th>
                        <th class="col-md-2">Exchange</th>
                        <th class="col-md-4">Api Key</th>
                        <th class="col-md-5">Api Secret</th>
                        <th class="col-md-1"></th>
                    </tr>
                    <tr ng-repeat="ex in setCtrl.exchanges">
                        <td>{{$index+1}}</td>
                        <td>{{ex.exchangeName}}</td>
                        <td>
                            <input type="text" ng-model="ex.apiKey" class="form-control" placeholder="...">
                        </td>
                        <td>
                            <input type="text" ng-model="ex.apiSecret" class="form-control" placeholder="...">
                        </td>
                        <td>
                            <button type="button" class="btn-sm btn-default" ng-click="setCtrl.updateExchangeApiKeySecret($index)">Update</button>
                        </td>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Exchange Symbol Refresh-->
<div class="row">
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Exchange Symbols</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-condensed">
                    <tr>
                        <th style="width: 10px">#</th>
                        <th class="col-md-5">Exchange</th>
                        <th class="col-md-1">Symbol</th>
                    </tr>
                    <tr ng-repeat="ex in setCtrl.exchanges">
                        <td>{{$index+1}}</td>
                        <td>{{ex.exchangeName}}</td>
                        <td>
                            <button type="button" class="btn-sm btn-default" ng-click="setCtrl.updateSymbols($index)">Refresh</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>