<!-- /.form group -->
<div class="row">
    <div class="col-md-6">
        <div class="col-sm-12">
            <div class="box no-padding">
                <div class="box-header">
                    <h3 class="box-title">Chains</h3>
                    <small>
                        <span class="label label-primary">waiting</span>
                        <span class="label label-warning">running</span>
                        <span class="label label-success">completed</span>
                        <span class="label label-danger">stopped / deleted</span>
                    </small>
                    <div class="box-tools">
                        <button type="button" class="btn btn-sm btn-info" ng-click="hitCtrl.showAddChainModal()">Create New Chain</button>
                    </div>
                </div>
                <small>
                    <table class="table table-bordered">
                        <th>
                            <td>Name</td>
                            <td>Repeatable</td>
                            <td>End Time</td>
                            <td>Job</td>
                        </th>
                        <tr ng-repeat="chain in hitCtrl.activeChains" ng-show="chain.status ==0 || chain.status == 1">
                            <td>
                                <span ng-class="{'label label-primary':chain.status==0, 'label label-warning':chain.status== 1}">{{$index+1}}</span>
                            </td>
                            <td>{{chain.name}}</td>
                            <td>
                                <i ng-class="{'fa fa-check':chain.repeatable==1, 'fa fa-close':chain.repeatable==0}"></i>
                            </td>
                            <td>{{chain.end_time | date: 'd-M-y'}}</td>
                            <td>
                                <div id="chain-tools">
                                    <button class="btn btn-sm btn-primary" ng-show="chain.status==0" ng-click="hitCtrl.updateChain('start',$index)">
                                        <small>Start</small>
                                    </button>
                                    <button class="btn btn-sm btn-warning" ng-show="chain.status==1" ng-click="hitCtrl.updateChain('stop',$index)">
                                        <small>Stop</small>
                                    </button>
                                    <button class="btn btn-sm btn-default" ng-click="hitCtrl.getChainOrders(chain)">
                                        <small>Orders</small>
                                    </button>
                                    <button class="btn btn-sm btn-info" ng-show="chain.status==0" ng-click="hitCtrl.updateChainModal($index)">
                                        <small>Update</small>
                                    </button>
                                    <button class="btn btn-sm btn-danger" ng-click="hitCtrl.updateChain('delete',$index)">
                                        <small>Delete</small>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </small>
            </div>
        </div>
    </div>
    <!-- View Chain Orders Table-->
    <div class="col-md-6">
        <div class="box" ng-show="hitCtrl.currentChain.id != null && ( hitCtrl.currentChain.status <=2)">
            <div class="box-header">
                <h3 class="box-title">
                    <b>{{hitCtrl.currentChain.name}}</b> Chain Orders</h3>
                <small>
                    <span class="label label-primary">waiting</span>
                    <span class="label label-success">completed</span>
                    <span class="label label-warning">stopped</span>
                    <span class="label label-danger">deleted</span>
                </small>
                <div class="box-tools">
                    <button type="button" class="btn btn-sm btn-info" ng-click="hitCtrl.showAddOrderModal()" ng-show="hitCtrl.currentChain.id != null && ( hitCtrl.currentChain.status <1 )">Add Order</button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-bordered">
                    <th>
                        <td>
                            <small>Pair</small>
                        </td>
                        <td>
                            <small>Price</small>
                        </td>
                        <td>
                            <small>Amount</small>
                        </td>
                        <td>
                            <small>Buysell</small>
                        </td>
                        <td>
                            <small>Job</small>
                        </td>
                    </th>
                    <tr ng-repeat="order in hitCtrl.currentChain.orders | orderBy :'order_'">
                        <td>
                            <span ng-class="{'label label-primary':order.status==0, 'label label-success':order.status== 1,'label label-warning':order.status==2,'label label-danger':order.status==3}">{{$index+1}}</span>
                        </td>
                        <td>
                            <small>{{order.from_}} - {{order.to_}}</small>
                        </td>
                        <td>
                            <small>{{order.price }}</small>
                        </td>
                        <td>
                            <small>{{order.amount}}</td>
                        </small>
                        <td>
                            <small>{{order.buysell}}</small>
                        </td>
                        <td>
                            <div id="order-tools" ng-show="order.status == 0 && hitCtrl.currentChain.status == 0">
                                <button class="btn btn-sm btn-info" ng-click="hitCtrl.showUpdateOrderModal($index)" ng-show="hitCtrl.currentChain.status <1">
                                    <small>Update</small>
                                </button>
                                <button class="btn btn-sm btn-danger" ng-click="hitCtrl.updateOrder(order,null,null,true)">
                                    <small>Delete</small>
                                </button>
                                <button class="btn btn-sm btn-primary" ng-show="$index > 0" ng-click="hitCtrl.updateOrder(null,'up',$index)" ng-show="hitCtrl.currentChain.status <1">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                                <button class="btn btn-sm btn-warning" ng-show="hitCtrl.currentChain.orders.length > 0 && $index +1 < hitCtrl.currentChain.orders.length && hitCtrl.currentChain.status <1"
                                    ng-click="hitCtrl.updateOrder(null,'down',$index)">
                                    <i class="fa fa-arrow-down"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<!-- AddChain Modal-->
<div class="modal fade" id="modal-addChain">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fa fa-remove"></i>
                    </span>
                </button>
                <h4 class="modal-title">Save Chain</h4>
            </div>
            <div class="modal-body">
                <div class="box box-info">
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Chain Name</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="hitCtrl.addChainModel.name" placeholder="...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">End Time</label>

                                <div class="col-sm-9">
                                    <input type="date" class="form-control" ng-model="hitCtrl.addChainModel.endTime">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Repeatable</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" class="flat-red" ng-model="hitCtrl.addChainModel.repeatable">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="hitCtrl.addChain()">
                    <i class="fa fa-save"></i>Add Chain</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Update Chain Modal-->
<div class="modal fade" id="modal-updateChain">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fa fa-remove"></i>
                    </span>
                </button>
                <h4 class="modal-title">Update Chain</h4>
            </div>
            <div class="modal-body">
                <div class="box box-info">
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Chain Name</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="hitCtrl.currentChain.name" placeholder="...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">End Time</label>

                                <div class="col-sm-9">
                                    <input type="date" class="form-control" ng-model="hitCtrl.currentChain.endTime">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Repeatable</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" class="flat-red" ng-model="hitCtrl.currentChain.repeatable">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="hitCtrl.updateChain()">
                    <i class="fa fa-save"></i>Update Chain</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Add Order Modal-->
<div class="modal fade" id="modal-addOrder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fa fa-remove"></i>
                    </span>
                </button>
                <h4 class="modal-title">Add Order</h4>
            </div>
            <div class="modal-body">
                <div class="box box-info">
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Pair</label>
                                <div class="col-sm-8">
                                    <ui-select ng-model="hitCtrl.addOrderModel.symbol" theme="bootstrap">
                                        <ui-select-match placeholder="Select or search a pair in the list...">{{$select.selected.symbol}}</ui-select-match>
                                        <ui-select-choices repeat="symbol in hitCtrl.symbols | filter: $select.search">
                                            <div ng-bind-html="symbol.symbol | highlight: $select.search"></div>
                                            <small ng-bing-html "symbol.lastVolume"></small>
                                            <small ng-bind-html="symbol.from_"></small>
                                            <small>-</small>
                                            <small ng-bind-html="symbol.to_"></small>
                                            <small>| Price : </small>
                                            <small ng-bind-html="symbol.lastPrice"></small>
                                            <small>| Volume : </small>
                                            <small ng-bind-html="symbol.lastVolume"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Buysell</label>
                                <div class="col-sm-9">
                                    <select ng-init="hitCtrl.addOrderModel.buysell='buy'" ng-model="hitCtrl.addOrderModel.buysell" ng-options="option as option for option in ['buy','sell']">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Amount</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="number" ng-model="hitCtrl.addOrderModel.amount" placeholder="Amount" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Price</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="number" type="text" ng-model="hitCtrl.addOrderModel.price" placeholder="Price" />
                                </div>
                            </div>
                            <div class="col-sm-12" ng-show="hitCtrl.addOrderModel.price != null && hitCtrl.addOrderModel.amount !=null">
                                <label class="control-label col-sm-4">Total Price</label>
                                <div class="col-sm-8">
                                    <label class="form-group">{{hitCtrl.addOrderModel.amount* hitCtrl.addOrderModel.price | number : 8}} {{hitCtrl.addOrderModel.symbol.to_}}</label>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-show="hitCtrl.addOrderModel.price != null && hitCtrl.addOrderModel.amount !=null">
                                <label class="control-label col-sm-4">Fee</label>
                                <div class="col-sm-8">
                                    <small class="text-right">{{hitCtrl.addOrderModel.amount * hitCtrl.addOrderModel.price/1000 | number : 8}} {{hitCtrl.addOrderModel.symbol.to_}}
                                        fee
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="form-group" ng-show="hitCtrl.addOrderModel.symbol != null">
                                    <small class="label label-danger">Amount should be dividible to quantityIncrement</small>
                                    <h2>{{hitCtrl.addOrderModel.symbol.quantityIncrement}}</h2>
                                </label>
                            </div>
                        </div>
                    </form>

                    <div class="col-md-12" ng-show="hitCtrl.addOrderModel.err != null">
                        {{hitCtrl.addOrderModel.err}}
                    </div>
                    <button type="button" class="btn btn-info pull-right" ng-click="hitCtrl.addOrder()">
                        <i class="fa fa-save"></i>Add Order</button>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12" ng-show="hitCtrl.addOrderModel.symbol!= null">
                    <div class="col-sm-12">
                        <iframe ng-src="{{hitCtrl.tradingViewURL}}" style="width:100%;height:630px;"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Update Order Modal-->
<div class="modal fade" id="modal-updateOrder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fa fa-remove"></i>
                    </span>
                </button>
                <h4 class="modal-title">Update Order</h4>
            </div>
            <div class="modal-body">
                <div class="box box-info">
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Pair</label>
                                <div class="col-sm-8">
                                    <ui-select ng-model="hitCtrl.currentOrder.symbol" theme="bootstrap">
                                        <ui-select-match placeholder="Select or search a pair in the list...">{{$select.selected.symbol}}</ui-select-match>
                                        <ui-select-choices repeat="symbol in hitCtrl.symbols | filter: $select.search">
                                            <div ng-bind-html="symbol.symbol | highlight: $select.search"></div>
                                            <small ng-bing-html "symbol.lastVolume"></small>
                                            <small ng-bind-html="symbol.from_"></small>
                                            <small>-</small>
                                            <small ng-bind-html="symbol.to_"></small>
                                            <small>| Price : </small>
                                            <small ng-bind-html="symbol.lastPrice"></small>
                                            <small>| Volume : </small>
                                            <small ng-bind-html="symbol.lastVolume"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Buysell</label>
                                <div class="col-sm-9">
                                    <select ng-model="hitCtrl.currentOrder.buysell" ng-options="option as option for option in ['buy','sell']">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Amount</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="number" ng-model="hitCtrl.currentOrder.amount" placeholder="Amount" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Price</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="number" type="text" ng-model="hitCtrl.currentOrder.price" placeholder="Price" />
                                </div>
                            </div>
                            <div class="col-sm-12" ng-show="hitCtrl.currentOrder.price != null && hitCtrl.currentOrder.amount !=null">
                                <label class="control-label col-sm-4">Total Price</label>
                                <div class="col-sm-8">
                                    <label class="form-group">{{hitCtrl.currentOrder.amount* hitCtrl.currentOrder.price | number : 8}} {{hitCtrl.currentOrder.symbol.to_}}</label>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-show="hitCtrl.currentOrder.price != null && hitCtrl.currentOrder.amount !=null">
                                <label class="control-label col-sm-4">Fee</label>
                                <div class="col-sm-8">
                                    <small class="text-right">{{hitCtrl.currentOrder.amount * hitCtrl.currentOrder.price/1000 | number : 8}} {{hitCtrl.currentOrder.symbol.to_}}
                                        fee
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="form-group" ng-show="hitCtrl.currentOrder.symbol != null">
                                    <small class="label label-danger">Amount should be dividible to quantityIncrement</small>
                                    <h2>{{hitCtrl.currentOrder.symbol.quantityIncrement}}</h2>
                                </label>
                            </div>
                        </div>
                    </form>

                    <div class="col-md-12" ng-show="hitCtrl.currentOrder.err != null">
                        {{hitCtrl.currentOrder.err}}
                    </div>
                    <button type="button" class="btn btn-info pull-right" ng-click="hitCtrl.updateOrder(hitCtrl.currentOrder)">
                        <i class="fa fa-save"></i>Update Order</button>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12" ng-show="hitCtrl.tradingViewURL != null && hitCtrl.currentOrder.symbol != null">
                    <div class="col-sm-12">
                        <iframe ng-src="{{hitCtrl.tradingViewURL}}" style="width:100%;height:630px;"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>